p {
    font-family: Roboto;
    color: white;
    opacity: 1;
    font-size: 20px;
    text-align: left;
    padding: 0 0 0 15% ;


    
}
#removeTag:hover {
    opacity: 0.8;
    color: yellow;
    cursor: pointer;

}
#addTag:hover {
    opacity: 0.8;
    color: yellow;
    cursor: pointer;

}

#singleElement.gridContainer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
* {
    overflow: auto;
}
::-webkit-scrollbar { 
    display: none; 
}

 
