#wrapper {
  display: grid;
  text-align: center;
}
#center {
  text-align: center;
}
#container {
  display: inline-block;
  text-align: center;
}
.SearchBar {
    display: grid;
    grid-template-columns: 50% 50%;

    flex-direction: column;
    align-items: center;
    padding-top: 10.94rem;
    margin-bottom: 1.0rem;
  }
  
  .SearchBar input {
    width: 50%;
    padding: .77rem 0;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 2.22rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
    position: relative;
    left: 2%
  }
  
  .SearchBar input:focus {
    outline: none;
  }
  
  #addTopic {
    cursor: pointer;
    width: 6rem;
    padding: .77rem;
    border-radius: 54px; /*Maybe try square button?*/ 
    background-color: #010c3f;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    color: white;
    margin: 0 auto;
    margin-bottom: 3%;
  }
  
  #addTopic:hover {
    background-color: rgba(108, 65, 233, .7);
  }
  select {
    opacity: 0.6;
    width: 100%;
    border: 1px solid #fff;
    margin-left: 10%;
    margin-top: 1.11rem;
    margin-bottom: 1.11rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
    text-overflow: clip;
  }
 
  
  .SearchBar select:focus {
    outline: none;
  }
/* -------------------- Page Styles (not required) */


/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
  width: 50%;
    padding: 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 2.22rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
    margin-left: 45%;

}
option {
  text-align: center;
  font-size:1rem;
  float: center;
}








/* -------------------- Rounded Corners */




/* -------------------- Colors: Background */

.green   { background-color:white; }


/* -------------------- Colors: Text */

.green select   { color: black; }



/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */



/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */

